.wrapper {
    display: block;
    text-align: center;
    margin: 0 auto;
    max-width: 70%;
    margin-top: 3%;
}

.message {
    text-align: center;
    margin: 0 auto;
    max-width: 70%;
    margin-top: 3%;
    color: red;
}

.inputWrapper {
    margin-top:5%;
    margin-bottom: 5%;
}

textarea {
    width: 100%;
}

.input1 {
    width: 60%;
}

.input2 {
    margin-right: 2%;
}

#containerContact {
    margin-top: 200px;
}